*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: rgb(197, 197, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 15px 8px 8px rgb(56, 56, 56);
}

#ptop{
    padding: 0 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    height: 100px;
    background-color: rgb(71, 189, 179);
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.box{
    color:rgb(71, 189, 179);
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px ;
    background-color: #fff;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    height: calc(100% - 100px);
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
}

.bubble{
    width: 60px;
    height: 60px;
    background-color: rgb(71, 189, 179);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: larger;
}

.bubble:hover{
    background-color: rgb(31, 161, 170);
    cursor: pointer;
}

#gameover{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 500;
    font-family: inherit;
}